<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="load-mask" *ngIf="timeSheetGrid.loading">
    <mat-spinner diameter=40></mat-spinner>
  </div>

  <mat-toolbar>
    <mat-toolbar-row class="action-bar">
      <div class="action-bar-title">
        {{title}}
      </div>
      <div class="action-bar-tools" fxLayout="row">
        <div class="date-switcher">
          <button mat-icon-button (click)="swithDate(-1)">
            <mat-icon mat-button color="primary">keyboard_arrow_left</mat-icon>
          </button>
          <span class="date-switcher-date" (click)="picker.open()"><input [matDatepicker]="picker"
                                                                          class="date-switcher-input" [max]="maxDate"
                                                                          [value]="date"
                                                                          (dateInput)="onDatePick($event)">{{formatDate()}}</span>
          <mat-datepicker #picker></mat-datepicker>
          <button mat-icon-button [disabled]="isMaximumDateReached()" (click)="swithDate(1)">
            <mat-icon mat-button color="primary">keyboard_arrow_right</mat-icon>
          </button>
        </div>

        <span class="separator"></span>

        <button mat-button color="primary" (click)="addNewEntry()">
          <mat-icon aria-label="add">add_circle_outline</mat-icon>
          Add new
        </button>

        <button mat-button color="primary" (click)="editEntry(grid.selection.selected[0])"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Edit">edit</mat-icon>
          Edit
        </button>

        <button mat-button color="primary" (click)="deleteEntry(grid.selection.selected[0].id)"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Delete">delete</mat-icon>
          Delete
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-time-sheet-grid #timeSheetGrid></app-time-sheet-grid>

</div>
