@import "../../../styles/themeing";

mat-toolbar {
  border-bottom: $primaryBorder;
  background: rgb(255, 255, 255);
}

.container {
  overflow: hidden;
}

.time-sheet-grid {
  display: block;
  overflow: hidden;
  height: calc(100vh - #{$topbarHeight} - 64px);
}
