<div class="container">
  <h3 mat-dialog-title>{{title}}</h3>


  <div fxLayout="row" class="dialog-subtitle">
    <h4 fxFlex>Task details</h4>
    <span>
         <button mat-icon-button (click)="showOpenTasks()" matTooltip="Link to an existing open task">
          <mat-icon>link</mat-icon>
        </button>
        <button mat-icon-button *ngIf="taskId" (click)="removeLinkedTask()" matTooltip="Drop link to task">
          <mat-icon>remove</mat-icon>
        </button>
      </span>
  </div>
  <form (ngSubmit)="onSaveTimeSheetClick()" [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field class="form-item" fxFlex>
        <mat-select placeholder="Client" formControlName="clientId"
                    (selectionChange)="populateProjectsBasedOnClient()" cdkFocusInitial>
          <mat-option *ngFor="let client of clients" [value]="client.id">
            {{client.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('clientId'); let error">{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-item" fxFlex>
        <mat-select placeholder="Project" formControlName="projectId">
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('projectId'); let error">{{error}}</mat-error>
      </mat-form-field>
    </div>


    <mat-form-field class="full-width form-item">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="hasError('description'); let error">{{error}}</mat-error>
    </mat-form-field>

    <div fxLayout="row" class="dialog-subtitle">
      <h4 fxFlex>Log work</h4>
    </div>


    <mat-form-field class="form-item full-width">
      <mat-select placeholder="Status" formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{status.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('status'); let error">{{error}}</mat-error>
    </mat-form-field>

    <div class="form-item">
      <div class="slider-field time-slider" fxLayout="row" fxLayoutAlign="center center">
        <span class="slider-field-label"> Duration:</span>
        <mat-slider thumbLabel=true min=1 max=600 fxFlex formControlName="duration" [displayWith]="formatTimeRangeValue"></mat-slider>
        <span class="slider-field-extension"></span>
      </div>
      <mat-error *ngIf="hasError('duration'); let error">{{error}}</mat-error>
    </div>

    <mat-form-field class="full-width form-item">
      <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
      <mat-error *ngIf="hasError('comment'); let error">{{error}}</mat-error>
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-raised-button matDialogClose>Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
