.container {
  min-width: 450px;
}

.form-item {
  font-size: 14px;
  margin: 6px 4px;
}

.slider-field {
  .slider-field-label,
  .slider-field-extension {
    color: rgba(0, 0, 0, 0.54);
  }
}

.dialog-subtitle {
  h4 {
    font: 500 15px/24px Roboto, "Helvetica Neue", sans-serif;
    display: inline-block;
  }

  span {
    padding: 0.7em 0;
  }
}
