.container {
  .form-body {
    max-height: 65vh;
    overflow-y: auto;
  }
}
.form-item {
  font-size: 14px;
  margin: 6px 0;
  max-width: 300px;
  ::ng-deep.mat-form-field-infix {
    //width: 300px;
  }
}
