<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="load-mask" *ngIf="taskGrid.loading">
    <mat-spinner diameter=40></mat-spinner>
  </div>

  <mat-toolbar>
    <mat-toolbar-row class="action-bar">
      <div class="action-bar-title">
        {{title}}
      </div>

      <div class="action-bar-tools" fxLayout="row" fxFlex="1 1 auto">
        <button mat-button color="primary" (click)="editEntry(grid.selection.selected[0])"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Edit">edit</mat-icon>
          Edit
        </button>

        <button mat-button color="primary" (click)="deleteEntry(grid.selection.selected[0].status)"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Delete">delete</mat-icon>
          Delete
        </button>

        <ng-container *ngIf="grid.selection.selected[0]">
          <button mat-button color="primary" (click)="updateStatus(
          grid.selection.selected[0].id,
          grid.selection.selected[0].status === 'open'? 'closed': 'open'
          )"
                  [disabled]="grid.selection.selected.length !== 1">
            <ng-container *ngIf="grid.selection.selected[0].status === 'open'">
              <mat-icon aria-label="Close">close</mat-icon>
              Close
            </ng-container>

            <ng-container *ngIf="grid.selection.selected[0].status === 'closed'">
              <mat-icon aria-label="Open">done</mat-icon>
              Open
            </ng-container>
          </button>
        </ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-task-grid #taskGrid class="task-grid"></app-task-grid>
</div>
