@import "../../../styles/themeing";

.main-side-nav-container {
  ::ng-deep .mat-sidenav-content {
    transition: margin-left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: $fullMenuWidth !important;
  }

  .main-side-nav {
    display: flex;
    flex-direction: column;
    width: $fullMenuWidth;
    border-right: $primaryBorder;
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

    .nav-top {
      flex-grow: 1;
      //padding-top: 0;
    }
  }

  .nav-collapse-button mat-icon {
    transition: all 200ms ease;
  }

  &.micro {
    .main-side-nav {
      width: $microMenuWidth;
    }
    ::ng-deep .mat-sidenav-content {
      margin-left: $microMenuWidth !important;
    }

    //@todo: main toolbar flex fix; fixed with left margin;
    ::ng-deep .main-toolbar-right-item {
      left: -$microMenuWidth;
    }

    .nav-collapse-button mat-icon {
      transform: rotate(180deg);
    }
  }

  #main-content {
    margin-top: $topbarHeight;
    height: calc(100vh - #{$topbarHeight});
  }
}
