<div class="grid-container" fxLayout="column">
  <mat-card fxFlex class="style-card table-card">
    <mat-card-header fxLayout="column">
      <div mat-card-avatar class="card-art violet mat-elevation-z2">
        <mat-card-title>Clients</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxFlex>
        <mat-table #table [dataSource]="dataSource" matSort [matSortActive]="defaultSort" matSortDisableClear matSortDirection="asc" fxFlex>
          <!-- Rest of the Columns -->
          <ng-container *ngFor="let column of displayedColumns">
            <ng-container [matColumnDef]="column">
              <mat-header-cell *matHeaderCellDef class="text-violet"> {{displayedColumnsTitles[column]||column | titlecase}}</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element[column]}}</mat-cell>
            </ng-container>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
        </mat-table>
        <div class="empty-msg" [style.display]="dataSource._renderData.getValue().length == 0 ? '' : 'none'" fxFlex>
          No items to display
        </div>
        <mat-paginator *ngIf="enablePagination === true" #paginator
                       [length]="totalCount"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
