@import "../../../../styles/themeing";

mat-toolbar {
  border-bottom: $primaryBorder;
  background: rgb(255, 255, 255);
}

.container-body {
  padding: 10px 10px 10px 10px;
  height: calc(100vh - #{$topbarHeight} - 64px);
}

.grid-container {
  overflow: hidden;
  position: relative;

  ::ng-deep .grid-container {
    height: calc(100% - 51px);
  }

  .projects-grid {
    ::ng-deep {
      .grid-container {
        height: calc(100% - 108px);
      }
      mat-table mat-row:last-of-type {
        border-bottom-width: 0px;
      }
    }
  }
}
