@import "variables";

.text-center {
  text-align: center;
}

.pad-10 {
  padding: 10px;
}

.empty-msg {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding: 10px;
  background: #fff;
  @include vertical-align(40%);
}

.load-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-success {
  color: $success !important;
}

.text-fail {
  color: $failure !important;
}

.mat-menu-item-user {
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 20px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}
