@import "variables";

.text-center {
  text-align: center;
}

.pad-10 {
  padding: 10px;
}

.empty-msg {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding: 10px;
  background: #fff;
  @include vertical-align(40%);
}

.load-mask {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1000;

  mat-spinner {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    background-size: contain;
    display: block;
    margin: auto;
  }
}

.text-success {
  color: $success !important;
}

.text-fail {
  color: $failure !important;
}

.mat-menu-item-user {
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 20px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

::ng-deep {
  .mat-paginator {
    border-top: $primaryBorder;
  }
}
