@import '~@angular/material/theming';

$font-family: Roboto, Helvetica, Arial, sans-serif;

$custom-typography: mat-typography-config(
  $font-family: quote($font-family),
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(inherit, 1.125, 400)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-lime, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$microMenuWidth: 65.1px;
$fullMenuWidth: 225px;
$topbarHeight: 48px;
$primaryBorder: 1.1px solid rgba(0, 0, 0, 0.12);
$content-background: #eee;
$white-color: #fff;
$success: #4caf50;
$failure: #e21d0a;
