<mat-toolbar class="fixed-header mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <mat-icon class="brand-icon" matListIcon>extension</mat-icon>
    <span>{{globals.appName}}</span>
    <div class="flex-spacer"></div>
    <a mat-button *ngIf="authService.isAdmin()" (click)="switchUserView()">User View</a>
    <button mat-icon-button class="avatar-button" [matMenuTriggerFor]="accountMenu">
      <!--<ngx-avatar value="{{authService.getUserName()[0]}}" gravatarId="{{authService.getUserEmail()}}" size="30"></ngx-avatar>-->
      <img ngxGravatar [email]="authService.getUserEmail()" size="30">
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #accountMenu="matMenu" overlapTrigger="false">
  <div class="mat-menu-item-user">
    <div>{{user.name}}</div>
    <div class="mat-caption">{{user.email}}</div>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="navigateToProfile()">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
