<mat-toolbar>
  <mat-toolbar-row class="action-bar">
    <div class="action-bar-title">
      {{title}}
    </div>

    <div class="action-bar-tools" fxLayout="row" fxFlex="1 1 auto">
      <button mat-button color="primary" (click)="promoteAsAdmin(userGrid, userSelectionModel.selected[0].id)"
              [disabled]="userSelectionModel.selected.length !== 1 || (userSelectionModel.selected[0].roles && userSelectionModel.selected[0].roles[0] && userSelectionModel.selected[0].roles[0].name === 'admin')">
        <mat-icon aria-label="Make admin">verified_user</mat-icon>
        Promote as admin
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" class="container-body">
  <app-grid #userGrid
    type="user"
    [selection]="userSelectionModel"
    [displayedColumns]="userDisplayedColumns"
    [displayedColumnsProperties]="displayedColumnsProperties"
    [retrieveRecords]="retrieveRecords.bind(this, userGrid)"
    [enablePagination]=true
  ></app-grid>
</div>
