@import "../../../../styles/themeing";

mat-toolbar {
  border-bottom: $primaryBorder;
  background: rgb(255, 255, 255);
}

.container-body {
  height: calc(100vh - #{$topbarHeight} - 64px);
}

app-grid {
  height: 100%;
  overflow: hidden;

  ::ng-deep .grid-container {
    height: calc(100% - 51px);
  }
}
