<div fxLayout="row" fxLayoutGap="20px" class="container">
  <mat-card fxFlex class="status-card">
    <mat-card-header>
      <div mat-card-avatar class="card-icon orange mat-elevation-z2" fxFlexAlign="start">
        <mat-icon>subject</mat-icon>
      </div>
      <mat-card-title>Hours Logged</mat-card-title>
      <mat-card-subtitle>50/90<span>hrs</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div class="stats">
        <mat-icon>date_range</mat-icon> Last 24 Hours
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex class="status-card">
    <mat-card-header>
      <div mat-card-avatar class="card-icon green mat-elevation-z2" fxFlexAlign="start">
        <mat-icon>local_offer</mat-icon>
      </div>
      <mat-card-title>Tasks</mat-card-title>
      <mat-card-subtitle>20/90</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div class="stats">
        <mat-icon>date_range</mat-icon> Last 24 Hours
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex>
    Status
  </mat-card>

  <mat-card fxFlex>
    Status
  </mat-card>
</div>
