@import "../../../../styles/variables";

.container {
  padding: 30px 30px;
}

.card {
  padding: 0;
  padding-bottom: 8px;
  border-radius: 6px;

  mat-card-header {
    margin: 0 15px;

    .card-art {
      border-radius: 3px;
      background-color: #999;
      padding: 15px;
      margin-top: -20px;
      width: auto;
      height: auto;
    }
  }

  mat-card-actions {
    border-top: 1px solid #eee;
    margin: 0 15px;

    .info {
      color: #999;
      font-size: 12px;
      line-height: 22px;

      mat-icon {
        position: relative;
        top: 4px;
        font-size: 16px;
      }
    }
  }

  .grey {
    background: linear-gradient(60deg, #cfcfcf, #ececec);
  }

  .orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
  }

  .green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
  }

  .red {
    background: linear-gradient(60deg, #ef5350, #e53935);
  }

  .blue {
    background: linear-gradient(60deg, #26c6da, #00acc1);
  }
}

.status-card {
  mat-card-header {
    .card-art {
      mat-icon {
        width: 56px;
        height: 56px;
        font-size: 36px;
        line-height: 56px;
        color: #fff;
        text-align: center;
      }
    }

    mat-card-title {
      padding-top: 10px;
      color: #999;
      text-align: right;
    }

    ::ng-deep .mat-card-header-text {
      flex: 1 1 0%;

      mat-card-subtitle {
        font-size: 25px;
        color: #3C4854;
        font-weight: 300;
        text-align: right;
        span {
          font-size: 80%;
          font-weight: 400;
        }
      }
    }
  }
}

.chart-stats-container {
  margin-top: 50px;

  mat-card-header {
    mat-card-title {
      padding: 15px 0;
      color: #3c4858;
      font-size: 1.125rem;
      line-height: 1.4em;
      font-weight: 300
    }

    mat-card-subtitle {
      color: #999;
    }
  }

  x-chartist {
    ::ng-deep {
      .ct-label {
        color: rgba($white-color, .7);
      }
      .ct-grid {
        stroke: rgba(255, 255, 255, 0.2);
      }
      .ct-series-a .ct-point,
      .ct-series-a .ct-line,
      .ct-series-a .ct-bar,
      .ct-series-a .ct-slice-donut {
        stroke: rgba(255, 255, 255, .8);
      }
      .ct-series-a .ct-slice-pie,
      .ct-series-a .ct-area {
        fill: rgba(255, 255, 255, .4);
      }
      .ct-series-a .ct-bar {
        stroke-width: 10px;
      }
      .ct-point {
        stroke-width: 10px;
        stroke-linecap: round;
      }
      .ct-line {
        fill: none;
        stroke-width: 4px;
      }
    }
  }
}

