mat-tab-group {
  overflow: auto;
  height: calc(100% - 64px);

  ::ng-deep {
    .mat-tab-body-wrapper {
      overflow: auto;
      mat-tab-body {
        height: 100%;
        .mat-tab-body-content {
          padding: 5px 10px;
          overflow: unset;
        }
      }
    }
  }
}

mat-toolbar .title {
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-table {
  background: none;
}
