.mat-cell, .mat-header-cell, .mat-footer-cell {
  padding: 0 5px;
  &:first-of-type {
    padding-left: 24px;
  }
  &:last-of-type {
    padding-right: 24px;
  }
  &.mat-column-select {
    width: 44px;
    flex: 0 1 auto;
  }
}
.grid-container {
  overflow: auto;
}
