@import "../../../../styles/themeing";

mat-toolbar {
  border-bottom: $primaryBorder;
  background: rgb(255, 255, 255);
}

.container-body {
  padding: 10px 0 10px 10px;
  height: calc(100% - 75px)
}

.container-body-inner {
  padding-right: 10px;
  overflow: auto;
}
