<mat-toolbar>
  <mat-toolbar-row class="action-bar">
    <div class="action-bar-title">
      {{title}}
    </div>
    <div class="action-bar-tools" fxLayout="row" fxFlex="1 1 auto">
      <button mat-button color="primary" (click)="editEntry()"
              [disabled]="">
        <mat-icon aria-label="Edit">edit</mat-icon>
        Edit
      </button>

      <button mat-button color="primary" (click)="deleteEntry()"
              [disabled]="">
        <mat-icon aria-label="Delete">delete</mat-icon>
        Delete
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" class="container-body">
  <div fxFlex="50" class="clients-grid mat-elevation-z2">
    <mat-toolbar class="grid-action-bar">
      <mat-toolbar-row>
        <div class="action-bar-title">
          Clients
        </div>
        <div class="action-bar-tools" fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="end center">
          <button mat-button color="primary" (click)="addNewEntry(clientsGrid)">
            <mat-icon aria-label="add">add_circle_outline</mat-icon>
            Add new
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-grid #clientsGrid
      type="client"
      [selection]="clientSelectionModel"
      [displayedColumns]="clientDisplayedColumns"
      [retrieveRecords]="retrieveRecords.bind(this)"
    ></app-grid>
  </div>
  <div fxFlex="50" class="clients-grid mat-elevation-z2">
    <mat-toolbar class="grid-action-bar">
      <mat-toolbar-row>
        <div class="action-bar-title">
          Projects
        </div>
        <div class="action-bar-tools" fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="end center">
          <button mat-button color="primary" (click)="addNewEntry(projectsGrid)">
            <mat-icon aria-label="add">add_circle_outline</mat-icon>
            Add new
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-grid #projectsGrid
      type="project"
      [selection]="projectSelectionModel"
      [displayedColumns]="projectDisplayedColumns"
      [retrieveRecords]="retrieveRecords.bind(this)"
    ></app-grid>
  </div>
</div>
