@import "../../../../styles/themeing";

mat-toolbar {
  border-bottom: $primaryBorder;
  background: rgb(255, 255, 255);
}

.container-body {
  padding: 10px 10px 10px 10px;
  height: calc(100vh - #{$topbarHeight} - 64px);
}

.grid-container {
  overflow: hidden;

  ::ng-deep mat-table {
    height: calc(100% - 51px);
  }
}
