/* Structure */
.timesheet-grid-container {
  padding: 5px;
}

.timesheet-grid-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}

.mat-column-select {
  overflow: visible;
}
