/* Structure */
.timesheet-grid-container {
  padding: 5px;

  mat-spinner {
    margin: auto;
  }
}

.timesheet-grid-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}
