<div class="timesheet-grid-container">
  <div>
    <div class="timesheet-grid-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="client" matSortDisableClear matSortDirection="asc">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary">&nbsp;
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        color="primary">&nbsp;
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Rest of the Columns -->
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container *ngIf="column != 'select'" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnsTitles[column]||column | titlecase}}</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[column]}}</mat-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
    <mat-paginator *ngIf="enablePagination === true" #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>

    <div class="empty-msg" [style.display]="dataSource._renderData.getValue().length == 0 ? '' : 'none'">
      No items to display
    </div>
  </div>
</div>
