<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="load-mask" *ngIf="timeSheetGrid.loading">
    <mat-spinner diameter=40></mat-spinner>
  </div>
  <mat-toolbar>
    <mat-toolbar-row class="action-bar">
      <div class="action-bar-title">
        {{title}}
      </div>
      <div class="action-bar-tools" fxLayout="row" [formGroup]="form">
        <div class="form-item">
          <label>From: </label>
          <input [matDatepicker]="fromPicker" [max]="form.value.toDate" formControlName="fromDate"
                 (dateInput)="onDatePick($event)" (click)="fromPicker.open()" readonly>
          <mat-datepicker #fromPicker></mat-datepicker>
        </div>

        <div class="form-item">
          <label>To: </label>
          <input [matDatepicker]="toPicker" [min]="form.value.fromDate" [max]="maxDate" formControlName="toDate"
                 (dateInput)="onDatePick($event)" (click)="toPicker.open()" readonly>
          <mat-datepicker #toPicker></mat-datepicker>
        </div>

        <div class="form-item">
          <label>Client: </label>
          <mat-select placeholder="Client" formControlName="clientId" multiple
                      (selectionChange)="onClientIdChange($event)">
            <mat-option *ngFor="let client of clients" [value]="client.id">
              {{client.name}}
            </mat-option>
          </mat-select>
        </div>

        <div class="form-item">
          <label>Project: </label>
          <mat-select placeholder="Project" formControlName="projectId" multiple
                      (selectionChange)="onProjectIdChange($event)">
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{project.name}}
            </mat-option>
          </mat-select>
        </div>

        <!--<span class="separator"></span>

        <button mat-button color="primary" (click)="addNewEntry()">
          <mat-icon aria-label="add">add_circle_outline</mat-icon>
          Add new
        </button>

        <button mat-button color="primary" (click)="editEntry(grid.selection.selected[0])"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Edit">edit</mat-icon>
          Edit
        </button>

        <button mat-button color="primary" (click)="deleteEntry(grid.selection.selected[0].id)"
                [disabled]="grid.selection.selected.length !== 1">
          <mat-icon aria-label="Delete">delete</mat-icon>
          Delete
        </button>-->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-admin-time-sheet-grid #timeSheetGrid class="time-sheet-grid" fxFlex></app-admin-time-sheet-grid>
</div>
