<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="load-mask" *ngIf="timeSheetGrid.loading">
    <mat-spinner diameter=40></mat-spinner>
  </div>

  <mat-toolbar>
    <mat-toolbar-row class="action-bar">
      <div class="action-bar-title">
        {{title}}
      </div>
      <div class="action-bar-tools" fxLayout="row" [formGroup]="form" fxFlex="1 1 auto">
        <div class="form-item">
          <label>From: </label>
          <input [matDatepicker]="fromPicker" [max]="form.value.toDate" formControlName="fromDate"
                 (dateInput)="onDatePick($event)" (click)="fromPicker.open()" readonly size="8">
          <mat-datepicker #fromPicker></mat-datepicker>
        </div>

        <div class="form-item">
          <label>To: </label>
          <input [matDatepicker]="toPicker" [min]="form.value.fromDate" [max]="maxDate" formControlName="toDate"
                 (dateInput)="onDatePick($event)" (click)="toPicker.open()" readonly size="8">
          <mat-datepicker #toPicker></mat-datepicker>
        </div>

        <div class="form-item">
          <label>Client: </label>
          <mat-select placeholder="Client" formControlName="clientId" multiple
                      (selectionChange)="onClientIdChange($event)">
            <mat-option *ngFor="let client of clients" [value]="client.id">
              {{client.name}}
            </mat-option>
          </mat-select>
        </div>

        <div class="form-item">
          <label>Project: </label>
          <mat-select placeholder="Project" formControlName="projectId" multiple
                      (selectionChange)="onProjectIdChange($event)">
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{project.name}}
            </mat-option>
          </mat-select>
        </div>

        <!--<button mat-button color="primary" [disabled]="grid.dataSource.filteredData.length == 0" [matMenuTriggerFor]="downloadMenu">
          <mat-icon aria-label="Download">get_app</mat-icon>
          Download
        </button>
        <mat-menu #downloadMenu="matMenu">
          <button mat-menu-item (click)="exportTimeSheets()" >Basic format</button>
          <button mat-menu-item (click)="exportTimeSheets(true)" >Advanced format</button>
        </mat-menu>-->
        <button mat-button color="primary" (click)="exportTimeSheets()"
                [disabled]="grid.dataSource.filteredData.length == 0">
          <mat-icon aria-label="Download">get_app</mat-icon>
          Download
        </button>

        <span fxFlex></span>

        <button mat-button color="primary" (click)="timeSheetGrid.toggleInfoPanel()">
          {{ timeSheetGrid.infoPanelToggleButtonText() }}
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-admin-time-sheet-grid #timeSheetGrid class="time-sheet-grid"></app-admin-time-sheet-grid>
</div>
