/* Structure */
.task-grid-container {
  padding: 5px;
  width: 400px;

  mat-table {
    max-height: 65vh;
    overflow-y: auto;
  }

  mat-spinner {
    margin: auto;
  }
}

.mat-table {
  overflow: auto;
}

.mat-column-select {
  overflow: visible;
}
